 09:26:17.567 W/AmazonMP3_AbstractHttpClient: (1120586664) execute() failed unexpectedly
04-13 09:26:17.568 W/AmazonMP3_AbstractHttpClient: trace:

04-13 09:40:21.334 W/AmazonMP3_AbstractHttpClient: (1117520144) execute() failed unexpectedly
04-13 09:40:21.340 W/AmazonMP3_AbstractHttpClient: trace:

04-13 10:25:25.989 W/AmazonMP3_AbstractHttpClient: (1120961928) execute() failed unexpectedly
04-13 10:25:25.990 W/AmazonMP3_AbstractHttpClient: trace:

04-13 11:19:44.673 W/AmazonMP3_AbstractHttpClient: (1117261664) execute() failed unexpectedly
04-13 11:19:44.673 W/AmazonMP3_AbstractHttpClient: trace:

04-13 11:20:10.848 W/AmazonMP3_AbstractHttpClient: (1119808464) execute() failed unexpectedly
04-13 11:20:10.849 W/AmazonMP3_AbstractHttpClient: trace:

04-13 13:06:57.318 W/AmazonMP3_AbstractHttpClient: (1117162072) execute() failed unexpectedly
04-13 13:06:57.321 W/AmazonMP3_AbstractHttpClient: tr
